.titulo{
  color: blueviolet;
}


.header-file{
  display: flex;
  align-items: center;
  font-size: 24px;
}
.header-file h2{
  font-size: 18px;
}

.file{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px black solid;
}


.black{
  width: 200px;
  height: 200px;
  background-color: black;
}